Repository haramishra/nextcn-saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["eslint"],
  "**/*.ts?(x)": ["tsc-files --noEmit"],
  "*.{json,yaml}": ["prettier --check"]
}

set concurrent to false
  .husky/pre-commit
Due: none

git ignore updated
  .gitignore
Due: none

ts lint bug fixed
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --check

build(lint): commitlint configured
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint, prettier --check

build(lint): commitzen added
  package-lock.json
  package.json
Due: prettier --check

build: playwright added
  .github/workflows/playwright.yml
  .gitignore
  .husky/pre-commit
  e2e/example.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
Due: eslint, prettier --check

build(removed): plyawrite script
  .husky/pre-commit
Due: none

build(dir change): moved dev files to src dir
  components.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/icons.tsx
  src/components/main-nav.tsx
  src/components/site-header.tsx
  src/components/tailwind-indicator.tsx
  src/components/theme-provider.tsx
  src/components/theme-toggle.tsx
  src/components/ui/button.tsx
  src/config/site.ts
  src/lib/fonts.ts
  src/lib/utils.ts
  src/styles/globals.css
  src/types/nav.ts
  tailwind.config.js
  tsconfig.json
Due: eslint, prettier --check

fix(git): git gitignore tsconfig.buildinfo
  tsconfig.tsbuildinfo
Due: none

docs: features added
  README.md
Due: none

fix(git): tsconfig added to git
  .gitignore
Due: none

chore(cleanup): example test removed
  tests-examples/demo-todo-app.spec.ts
Due: eslint

build: zustand and swr added with example
  package-lock.json
  package.json
  src/app/page.tsx
  src/store/productStore.ts
Due: eslint, prettier --check

docs: cli install command added
  README.md
Due: none
